server:
  port: 8081

spring:
  application:
    name: accounts
  profiles:
    active: prod

  config:
    import: "optional:configserver:http://localhost:8071/"

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

  datasource:
    url: jdbc:postgresql://aws-1-ap-south-1.pooler.supabase.com:5432/postgres
    username: postgres.sphilkzrezatzezirqds
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

    hikari:
      maximum-pool-size: 5
      minimum-idle: 2
      idle-timeout: 30000
      max-lifetime: 600000
      connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        default_schema: account

  jackson:
    serialization:
      indent_output: true

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    com.easybank.app: DEBUG

  file:
    name: logs/account-service.log

bank:
  branch:
    name: "123 XYZ, ABC"
    code: 512005

management:
  endpoints:
    web:
      exposure:
        include: health,info,refresh,busrefresh


