server:
  port: 8071

spring:
  application:
    name: config-server

  profiles:
    active: git

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

  cloud:
    config:
      server:
        git:
          uri: https://github.com/Akash005s/banking-config.git
          default-label: main
          clone-on-start: true
          timeout: 10

management:
  endpoints:
    web:
      exposure:
        include: "*"

  endpoint:
    health:
      probes:
        enabled: true
      show-details: always

  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
