server:
  port: 9001

spring:
  application:
    name: cards

  profiles:
    active: prod

  config:
    import: "optional:configserver:http://localhost:8071/"

  datasource:
    url: jdbc:postgresql://aws-1-ap-south-1.pooler.supabase.com:5432/postgres
    username: postgres.sphilkzrezatzezirqds
    password: akashcodes005s
    driver-class-name: org.postgresql.Driver

    hikari:
      maximum-pool-size: 5
      minimum-idle: 2
      idle-timeout: 30000
      max-lifetime: 600000
      connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        default_schema: card

  jackson:
    serialization:
      indent_output: true

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    com.easybank.app: DEBUG

  pattern:
    console: >
      %d{yyyy-MM-dd HH:mm:ss.SSS} 
      [%thread] 
      %-5level 
      %logger{36} 
      - %msg%n

  file:
    name: logs/card-service.log

management:
  endpoints:
    web:
      exposure:
        include: health,info,refresh,busrefresh,shutdown
  endpoint:
    shutdown:
      access: unrestricted
  info:
    env:
      enabled: true

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:8070/eureka/

info:
  app:
    name: "Cards"
    description: "Easy Bank Cards Application"
    version: 1.1



