server:
  port: 9001

spring:
  application:
    name: card-service

  datasource:
    url: jdbc:mysql://localhost:3306/card
    username: root
    password: Akash@2005
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

  jackson:
    serialization:
      indent_output: true

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    com.easybank.app: DEBUG

  pattern:
    console: >
      %d{yyyy-MM-dd HH:mm:ss.SSS} 
      [%thread] 
      %-5level 
      %logger{36} 
      - %msg%n

  file:
    name: logs/card-service.log


